#availableCash {
  margin: 1% 0;
  font-size: 1.2vw;
}
  
#betCash {
  font-size: 1.2vw;
  margin: 1% 42%;
}
  
button {
  opacity: .8;
}
  
button:hover {
  opacity: 1;
}
  
.cardPlacement {
  border: solid 2px white;
  height: 75%;
  margin: 1% .3%;
  width: 9%;
}
  
.cards {
  border-top: solid 2px white;
}
  
.cardtable {
  border-bottom: solid 2px white !important;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  height: 43.5%;
}
  
.cash {
  display: flex;
  flex-direction: row;
}
  
#deal {
  color: white;
  background-color: green;
  border: solid 2px white;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.2vw;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
}
  
#dealersCards {
  align-items: center; 
  display: flex; 
  justify-content: center
}
  
.dealerPlayer {
  text-align: center;
}
  
#dice {
  color: gold;
}
  
html {
  color: white;
  border: solid 2px white;
  background-color: #222;
  font-family: 'Playfair Display SC', serif;
}
  
input {
  font-family: 'Playfair Display SC', serif;
  font-size: 1.2vw;
  margin: 1% 0;
}
  
label {
  font-size: 1.2vw;
  margin: 1% 0;
}
  
#landmark {
  color: #ff3033;
}
  
li {
  list-style: none;
}
  
.nav {
  font-size: 1.4vw;
  margin: .5% 0;
  text-align: center;
}
  
#player {
  color: #2659ff;
}
  
#playerCards {
  align-items: center; 
  display: flex; 
  justify-content: center
}
  
#money {
  font-size: 1.2vw;
  margin: 0 1%;
}

#betdiv {
  font-size: 1.2vw;
  margin: 0 1%;
}

#youhave {
  font-size: 1.2vw;
  margin: 0 1%;
}

#betAmt {
  font-size: 1.2vw;
  margin: 0 1%;  
}

.footerBtn {
  font-size: 1.2vw;
  margin: 0 1%;  
}

.hitBtn {
  font-size: 1.2vw;
  margin-left: auto;
  margin-right: 1%;
  margin-top: 0;
  margin-bottom: 0;
}